body{
    font-family: 'Montserrat';
}
#title{
    background-color: #0F1123
}
h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff;
}
.continer-fluid{
    padding: 3% 15%;

}
.navbar {
    padding: 0 0  4.5rem;
}

.navbar-brand{
   font-family: "ubuntu";
   font-weight: bold;
   font-size: 2.5rem;

}
.nav-item{
    padding: 0.5rem;
    font-weight: 400;
}

.apple-image{
    width: 60%;
    transform: rotate(25deg);
    margin-left: 3rem;
    position: absolute;

 }


 .btn{
    margin: 5% 3% 5% 0;
 }

.feature-box{
    text-align: center;
    padding: 4.5%;
    
}
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;

    
}
h3{
    font-weight: bold;
    font-size: 1.5rem;
}

p{
    color: #8f8f8f;
}
.icon {
    color: #0F1123;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ef8172;
}
#testimonials{
    text-align: center;
    background-color: #222546;
    color: #fff;
}
h2{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image{
    width: 10%;
    border-radius: 100px;
    margin: 1.2rem;
}
#press{
    background-color: #222546;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 1.2rem 1.2rem 3.2rem;
}
.carousel-item{
    padding: 7% 15%;
}
#pricing{
    padding: 7% 15%;
}
.card{
    text-align: center;
}
.header{
    text-align: center;
    padding-bottom: 3%;
}
#cta{
    text-align: center;
    background-color: #0F1123;
    padding: 7% 15%;
    color: #fff;
}
#text{

    font-weight: 900;
    font-size: 3rem;
}
.footer-buttons{
    padding: 1% 15%;
}
#footer{
    text-align: center;
    padding: 7% 15%;
}
.social-icon{
    margin: 20px 5px;
    color: #8f8f8f;
}

@media (max-width: 1020px) {
    #title{
        text-align: center;
    }
    .apple-image{
        position: static;
        transform: rotate(0);
    }
}